{% if site.data.theme.map-child-objects == true %}
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
{% else %}
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid and item.parentid == nil' -%}
{% endif %}
{%- assign items = items | where_exp: 'item','item.latitude != nil and item.longitude != nil' -%}
{%- assign fields = site.data.config-map -%}
<!-- load leaflet dependencies -->
<script src="{{ '/assets/lib/leaflet/leaflet.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/Leaflet.fullscreen.min.js' | relative_url }}"></script>

<link rel="stylesheet" href="{{ '/assets/lib/opacity/Control.Opacity.css' | relative_url }}" />
<script src="{{ '/assets/lib/opacity/Control.Opacity.js' | relative_url }}"></script>
    
<script src="{{ '/assets/lib/jquery/jquery-1.9.1.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/jquery/jquery-ui-1.10.3.custom.min.js' | relative_url}}"></script>
<link rel="stylesheet" href="{{ '/assets/lib/jquery/jquery-ui-1.10.3.custom.min.css' | relative_url}}" />

{% if site.data.theme.map-search == true %}<script src="{{ '/assets/lib/leaflet/fuse.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/leaflet.fusesearch.js' | relative_url }}"></script>{% endif %}
{% if site.data.theme.map-cluster == true %}<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.js' | relative_url }}"></script>{% endif %}
{% if site.data.theme.map-search == true and site.data.theme.map-cluster == true %}<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.freezable.js' | relative_url }}"></script>{% endif %}
<script src="{{ '/assets/public_lands.js' | relative_url }}"></script>
<script>
(function(){
    /* add collection map data */
    var geodata = { "type": "FeatureCollection", "features": [ 
    {% for item in items %}
    { "type":"Feature", "geometry":{ "type":"Point", "coordinates":[{{ item.longitude | strip }},{{ item.latitude | strip }}] }, "properties":
    { 
        {% for f in fields %}{% if item[f.field] %}{{ f.field | escape | jsonify }}:{{ item[f.field] | strip | escape | jsonify }}, {%- endif -%}{%- endfor -%}
        {% if item.image_thumb %}"img": {{ item.image_thumb | relative_url | jsonify }},{% endif %}
        {% if item.display_template %}"template": {{ item.display_template | escape | jsonify }}, {%- endif -%}
        {% if item.format %}"format": {{ item.format | escape | jsonify }}, {%- endif -%}
        {% if item.image_alt_text %}"alt": {{ item.image_alt_text | escape | jsonify }}, {%- endif -%}
        {% if item.parentid %}"parent": {{ item.parentid | jsonify }}, {%- endif -%}
        "title": {{ item.title | escape | jsonify }},
        "id": {{ item.objectid | jsonify }} 
    } }{% unless forloop.last %}, {% endunless %}{% endfor %}
    ]};

    /* check for url parameters and set initial view options */ 
    let url = new URL(window.location);
    var mapCenter = url.searchParams.get('location') ? url.searchParams.get('location').split(',') : [{{ site.data.theme.latitude | default: 46.727485 }}, {{ site.data.theme.longitude | default: -117.014185 }}];
    var mapZoom = url.searchParams.get('location') ? 16 : {{ site.data.theme.zoom-level | default: 5 }};
    var markerFilter = url.searchParams.get('marker') ? url.searchParams.get('marker') : "";

    /* init map, set center and zoom */
    var map = L.map('map').setView(mapCenter, mapZoom);

    /* add map layer options */
    var Esri_WorldStreetMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    });
    var Esri_NatGeoWorldMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
        maxZoom: 16
    });
    var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });
    var OpenStreetMap_Mapnik = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    
    var imageUrl1 = 'https://iastatedigital.org/objects/iowastateparks/small/26-05-06_extensionla_tube-073-003_sm.jpg';
    var errorOverlayUrl = 'https://cdn-icons-png.flaticon.com/512/110/110686.png';
    var altText = 'Image of Newark, N.J. in 1922. Source: The University of Texas at Austin, UT Libraries Map Collection.';
    var latLngBounds = L.latLngBounds([[44.034435, -89.528238], [40.155359, -97.575150]]);

    var imageOverlay1 = L.imageOverlay(imageUrl1, latLngBounds, {
        opacity: 0.5,
        errorOverlayUrl: errorOverlayUrl,
        alt: altText,
        interactive: true
    });
    var imageUrl2 = 'https://iastatedigital.org/objects/iowastateparks/small/26-05-06_extensionla_c405-d14-f001-003_sm.jpg';
    var errorOverlayUrl = 'https://cdn-icons-png.flaticon.com/512/110/110686.png';
    var altText = 'Image of Newark, N.J. in 1922. Source: The University of Texas at Austin, UT Libraries Map Collection.';
    var latLngBounds = L.latLngBounds([[42.029927, -93.852140], [41.951076, -93.950217]]);

    var imageOverlay2 = L.imageOverlay(imageUrl2, latLngBounds, {
        opacity: 0.7,
        errorOverlayUrl: errorOverlayUrl,
        alt: altText,
        interactive: true
    });
    
    /* add polygon layer*/
    var latlngLedges = [[41.997246, -93.892567],[41.997192, -93.888597],[41.997192, -93.888597],[42.008026, -93.883329],[42.001054, -93.883401],[42.000947, -93.878421],[42.002663, -93.878276],[42.002609, -93.873585],[41.986839, -93.873874],[41.986624, -93.883401],[41.979382, -93.889680],[41.979221, -93.898558],[41.997192, -93.892784]];
    var Ledges = L.polygon(latlngLedges, {color: '#ff7800'});

    /*geoJSON test*/
    var parkLedges = {
        "type": "FeatureCollection",
        "features": [{
            "type": "Feature",
            "properties": {},
            "geometry": {
            "coordinates": [
            [
                [
                -93.88489422484695,
                42.01272748252225
                ],
                [
              -93.88519827512577,
              41.999169268987515
                ],
                [
              -93.89432594812273,
              41.99917265097346
                ],
                [
              -93.89524621423799,
              41.99615796852879
                ],
                [
              -93.89169100108619,
              41.991704551547684
                ],
                [
              -93.89361974572446,
              41.98717691279941
                ],
                [
              -93.89351741319918,
              41.98280141753659
                ],
                [
              -93.89767972453309,
              41.97812253130655
                ],
                [
              -93.88540005472724,
              41.9776910967833
                ],
                [
              -93.88337563107847,
              41.98636453511864
                ],
                [
              -93.87396051956254,
              41.98674605835026
                ],
                [
              -93.8689935412247,
              42.0034571064607
                ],
                [
              -93.87769540034246,
              42.00406696482494
                ],
                [
              -93.87709899846334,
              42.0127125117495
                ],
                [
              -93.88489422484695,
              42.01272748252225
                ]   
            ]
            ],
            "type": "Polygon"
            }
            }
        ]
    }
    
    var parkStyle = {
        "color": "#ff7800",
        "weight":3,
        "opacity": 0.7
    };
    
    
    /* add opacity controls */
    var higherOpacity = new L.Control.higherOpacity();
    map.addControl(higherOpacity);
    var lowerOpacity = new L.Control.lowerOpacity();
    map.addControl(lowerOpacity);
    var opacitySlider = new L.Control.opacitySlider();
    map.addControl(opacitySlider);

    /* layer opacity slider */
    opacitySlider.setOpacityLayer(imageOverlay1);

    /* add base map switcher */
    var baseMaps = {
        "Esri World StreetMap": Esri_WorldStreetMap,
        "Esri National Geo": Esri_NatGeoWorldMap,
        "Esri Imagery": Esri_WorldImagery,
        "Open Street Map": OpenStreetMap_Mapnik
    };
    /*add overlay layers */
    var Ledges2 = L.geoJson(parkLedges, {
        style: parkStyle
        });
    var currentParks = L.geoJson(stateparks, {
        style: parkStyle,
        filter: function(feature) {
            return feature.properties["TYPE"] === "State Park";
        },
        onEachFeature: function (feature, layer) {
            layer.bindPopup("Name: " + feature.properties["NAME"] + '<br>' + " County: " + feature.properties["COUNTY"] + '<br>' + " Total Acres: " + feature.properties["ACRES"]);
        }
    });
    var overlays = {
        "Historic Iowa Map - 1934": imageOverlay1,
        "Historic Ledges State Park": imageOverlay2,
        "Current State Park Boundaries": currentParks
    };
    L.control.layers(baseMaps,overlays).addTo(map);
    
    
   
    /* load base map */
    {{ site.data.theme.map-base | default: 'Esri_WorldStreetMap' }}.addTo(map);

    {% if site.data.theme.map-search == true %}
    /* add search, https://github.com/naomap/leaflet-fusesearch */
    var options = {
        title: 'Search Map Items',
        placeholder: 'Search map items...',
        threshold: {{ site.data.theme.map-search-fuzziness | default: 0.35 }},
        showResultFct: function(feature, container) {
            var result = `<strong>${feature.properties.title}</strong><br>`;
            {% for f in fields %}
            if(feature.properties[{{ f.field | jsonify }}]) { result += feature.properties[{{ f.field | jsonify }}] + `<br>`; }
            {% endfor %}
            container.innerHTML = result;
        }
    };
    var searchCtrl = L.control.fuseSearch(options);
    searchCtrl.addTo(map);
    searchCtrl.indexFeatures(geodata.features, {{ fields | where: 'search','true' | map: 'field' | unshift: 'title' | jsonify }});{% endif %}

    /* add fullscreen control */ 
    map.addControl(new L.Control.Fullscreen());

    {% if site.data.theme.map-cluster == true %}
    /* create cluster group */
    var markers = L.markerClusterGroup({ 
        maxClusterRadius: {{ site.data.theme.map-cluster-radius | default: 15 }}, 
        singleMarkerMode: true,
        iconCreateFunction: function(cluster) {
            /* custom icon function, tweak default to add more alt text */
            var childCount = cluster.getChildCount();
            var csize;
            if (childCount < 10) {
                csize = 'small';
            } else if (childCount < 100) {
                csize = 'medium';
            } else {
                csize = 'large';
            }
            var c = ' marker-cluster-' + csize;
            return new L.DivIcon({ html: '<div><span class="visually-hidden">' + csize +' cluster of </span><span>' + childCount + '</span><span class="visually-hidden"> items</span></div>', className: 'marker-cluster' + c, iconSize: new L.Point(40, 40) });
        }
        {% if site.data.theme.map-search == true %}, removeOutsideVisibleBounds: false{% endif %} 
    });{% endif %}

    /* get icons function */ 
    {% include js/get-icon.js %}

    /* object popup function */
    function objectPopups(feature, layer) {
        {% if site.data.theme.map-search == true %}/* bind feature for search */
        feature.layer = layer;{% endif %}
        // find item link
        var itemHref = `{{ '/items/' | relative_url }}${ feature.properties.parent ? feature.properties.parent + ".html#" + feature.properties.id : feature.properties.id + ".html"}`;
        // find image
        var imgAlt = feature.properties.alt ? feature.properties.alt : feature.properties.title;
        var thumbImg;
        if (feature.properties.img) {
            thumbImg = '<img class="map-thumb" src="' + feature.properties.img + '" alt="' + imgAlt + '">';
        } else {
            thumbImg = getIcon(feature.properties.template,feature.properties.format,"thumb")
        }
        // set up popup content
        var popupTemplate = '<h2 class="h4"><a class="text-dark" href="' + itemHref + '">' +
            feature.properties.title + '</a></h2><div class="text-center"><a href="' + itemHref + 
            '" >' + thumbImg + '</a></div><p>';
        {% for f in fields %}{% if f.display_name %}
        if (feature.properties[{{ f.field | escape | jsonify }}]) {
            popupTemplate += '<strong>{{ f.display_name }}:</strong> ' + feature.properties[{{ f.field | escape | jsonify }}] + '<br>'; 
        }
        {% endif %}{% endfor %}
        popupTemplate += '</p><div class="text-center"><a class="btn btn-light" href="' + itemHref + '" >View Item</a></div>';
        layer.bindPopup(popupTemplate);
    }
    function objectMarkers(feature,latlng) {
        var marker = L.marker(latlng, {alt: feature.properties.title});
        {% if site.data.theme.map-cluster == true %}markers.addLayer(marker);{% endif %}
        return marker;
    }

    /* add objects from geoJson features */
    var mapFeatures = L.geoJson(geodata, {
        onEachFeature: objectPopups,
        pointToLayer: objectMarkers
    }){% if site.data.theme.map-cluster != true %}.addTo(map);{% else %};
    map.addLayer(markers);{% endif %}
    
    {% if site.data.theme.map-cluster == true and site.data.theme.map-search == true %}
    /* uncluster when search is clicked */
    document.querySelector('a.button').addEventListener("click", function() {
        markers.disableClustering();
    });
    /* recluster when search is closed */
    document.querySelector('a.close').addEventListener("click", function() {
        markers.enableClustering();
        document.querySelector('input.search-input').value = "";
    });{% endif %}
    
    /* show popup if id in URL query */ 
    if (markerFilter != "") {
        {% if site.data.theme.map-cluster == true %}
        markers.eachLayer(layer => {
            if (layer.feature.properties.id === markerFilter) {
                /* uncluster clusters, then show */ 
                if (markers.getVisibleParent(layer)["_childCount"]) {
                    markers.getVisibleParent(layer).spiderfy();
                } 
                layer.openPopup();
            }
        });
        {% else %}
        mapFeatures.eachLayer(layer => {
            if (layer.feature.properties.id === markerFilter) {
                layer.openPopup();
            }
        });
        {% endif %}
    }

})();

</script>